.auth {
   position: relative;
   overflow: hidden;
}

.auth-backdrop {
   min-width: 100%;
   min-height: 100vh;
   filter: brightness(50%);
}

.auth-form {
   position: absolute;
   margin: auto;
   width: 30rem;
   top: -10%;
   left: 0;
   right: 0;
   bottom: 0;
   padding: 4rem;
   background-color: rgba(0, 0, 0, 0.75);
   z-index: 1;
   border-radius: 0.5rem;
}

.auth-form-sub {
   margin-bottom: 1rem;
   font-size: 3rem;
   color: whitesmoke;
   font-weight: bold;
   text-align: center;
}

.auth-form-label {
   color: whitesmoke;
   font-weight: bold;
}

.auth-form-btn {
   width: 100%;
   margin-top: 1rem;
}

.auth-profile {
   padding-top: 8rem;
}

.auth-profile-head {
   display: flex;
   justify-content: space-between;
   padding-left: 5vw;
   padding-right: 5vw;
}

.auth-profile-sub {
   color: whitesmoke;
   font-weight: bold;
   font-size: 2rem;
}

.auth-profile-data {
   margin-bottom: 5rem;
}

/* @media screen and (max-width: 750px) {
    .login-content {
       top: 0;
       width: 100vw;
       height: 100%;
    }
    .login-wrap {
       height: 100%;
       border-radius: 0;
       background: black;
       padding: 30px 80px 30px 80px;
    }
 } */
