* {
   box-sizing: border-box;
}

body {
   position: relative;
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   overflow-x: hidden;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.ant-menu-submenu-open .ant-menu-submenu-active {
   padding-top: 50px;
}

.ant-layout-header {
   padding: 0;
}

.ant-list-item {
   border-bottom: 0px;
   border-bottom-width: 0px;
}
.ant-modal-content {
   position: relative;
   top: 0;
   bottom: 0;
   right: 0;
   border: 0;
}

.ant-modal-body {
   padding: 0px;
}

.ant-modal-content {
   height: 600px;
}

.random-movies-spin {
   margin-top: 400px;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
   background: black;
   color: whitesmoke;
}

.like-out {
   border: none;
}

.dislike-out {
   border: none;
}

.like-out:hover {
   color: rgb(106, 106, 230);
}

.dislike-out:hover {
   color: rgb(106, 106, 230);
}

.like-fill {
   border: none;
   color: blue;
}

.dislike-fill {
   border: none;
   color: blue;
}

.trailer-close {
   position: absolute;
   left: 1300px;
}
