* {
   box-sizing: border-box;
}

body {
   position: relative;
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   width: 100%;
   height: 100%;
   overflow-x: hidden;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.ant-menu-submenu-open .ant-menu-submenu-active {
   padding-top: 50px;
}

.ant-layout-header {
   padding: 0;
}

.ant-list-item {
   border-bottom: 0px;
   border-bottom-width: 0px;
}

.ant-modal-body {
   padding: 0;
}

.movies-spin {
   margin-top: 200px;
   margin-bottom: 200px;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
   background: black;
   color: whitesmoke;
}

.like-fill {
   height: 3.2rem;
   font-size: 1.5rem;
   font-weight: 900;
   border-radius: 0.3rem;
}

.like-out {
   height: 3.2rem;
   font-size: 1.5rem;
   font-weight: 900;
   border-radius: 0.3rem;
}

.like-out:hover {
   color: rgb(106, 106, 230);
}

.pushpin-fill {
   margin: 0 0 0 0.5rem;
   height: 3.2rem;
   font-size: 1.5rem;
   font-weight: 900;
   border-radius: 0.3rem;
}

.pushpin-out {
   margin: 0 0 0 0.5rem;
   height: 3.2rem;
   font-size: 1.5rem;
   font-weight: 900;
   border-radius: 0.3rem;
}

.trailer-like-wrap {
   position: absolute;
   margin: 1rem 0 0 0rem;
}

.trailer-btn {
   margin: 0 0 0 0.5rem;
   height: 3.2rem;
   font-size: 1.5rem;
   font-weight: 900;
   border-radius: 0.3rem;
   color: whitesmoke;
}

.trailer-close {
   position: absolute;
   left: 1300px;
}
