.select {
   width: 12rem;
}

.menu-list-head {
   display: flex;
   justify-content: space-between;
   margin-top: 7rem;
   padding-left: 5vw;
   padding-right: 5vw;
}

.menu-title {
   color: whitesmoke;
   font-weight: bold;
   font-size: 1.4vw;
}

@media screen and (max-width: 1280px) {
   .itemList-select {
      width: 10.5rem;
      top: 4rem;
      right: 1.5rem;
   }
}

@media screen and (max-width: 880px) {
   .itemList-select {
      width: 9rem;
      top: 3.7rem;
   }
}

@media screen and (max-width: 510px) {
   .itemList-select {
      width: 9rem;
      top: 3.5rem;
   }
}

@media screen and (max-width: 465px) {
   .itemList-select {
      top: 3.3rem;
   }
}
