.nav {
   position: fixed;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 4rem;
   top: 0;
   padding-left: 3rem;
   padding-right: 3rem;
   z-index: 2;
}

.nav-list {
   position: relative;
   height: 100%;
   display: flex;
   align-items: center;
   color: whitesmoke;
   font-weight: 700;
}

.nav-list-logo {
   width: 10rem;
   border-radius: 15px;
   cursor: pointer;
   margin-right: 1rem;
}

.nav-list-item {
   display: flex;
   align-items: center;
   padding: 1rem;
   cursor: pointer;
   height: 100%;
}

.nav-list-item:hover {
   color: darkgray;
}

.nav-icon {
   padding-right: 7px;
}

.nav-list-wrap {
   position: relative;
   height: 100%;
}

.nav-detail-list {
   position: absolute;
   width: 12rem;
   top: 4rem;
   left: 1rem;
   background-color: #1f2023;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
}

.nav-detail-list-item {
   color: whitesmoke;
   cursor: pointer;
   padding: 1rem;
   flex: 25%;
}

.nav-detail-list-item:hover {
   background-color: rgb(225, 225, 225, 0.1);
}

.nav-detail-series {
   position: absolute;
   width: 48rem;
   display: flex;
   flex-wrap: wrap;
   top: 4rem;
   left: 1rem;
   background-color: #1f2023;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
}
