.main-slide-sub {
   margin: 2vw 0 0.5vw 9.5vw;
   font-weight: bold;
}

.slider-multiple-items {
   width: 80%;
   margin: auto;
}

.slider-multiple-items img {
   margin: auto;
   width: 99%;
   height: 15vw;
}

.noting {
   visibility: hidden;
}
