.recommend-title {
   margin: auto;
   max-width: 76vw;
   padding: 10px;
   font-weight: bold;
}

.recommend-items {
   margin: auto;
   max-width: 75vw;
   padding-bottom: 30px;
   border-bottom: 1px solid #f0f0f0;
}

.movie-card {
   width: 10.5vw;
   border-radius: 7px;

   overflow: hidden;
}

.recommend-items img {
   height: 15vw;
   cursor: pointer;
}

.noting {
   visibility: hidden;
}

.title {
   color: black;
   font-size: 17px;
}

.box-shadow-right {
   background: white;
   position: absolute;
   width: 3.5vw;
   height: 19vw;
   left: 71vw;
   bottom: 45px;
   box-shadow: 0 0 20px 20px white;
}
