.movie-search-bar {
   margin: 0 auto;
   max-width: 1000px;
   padding-top: 50px;
}

.search-bar-wrap {
   margin: 0 auto;
   max-width: 89vw;
}

.search-result-card {
   width: 11vw;
   margin-bottom: 1vw;
   border-radius: 7px;
   overflow: hidden;
}

.search-result-card-img {
   height: 16vw;
}

.tag-keyword-wrap {
   padding-bottom: 10px;
}

.tag-keyword {
   cursor: pointer;
   border-radius: 10px;
}

.tag-keyword:hover {
   color: violet;
}
