.top-layout {
   box-shadow: 0 0px 50px 10px;

   margin-top: 3.3vw;
}

.background-left-shadow {
   z-index: 1;
   position: absolute;
   width: 45%;
   height: 100%;
   background-image: linear-gradient(
      to right,
      rgb(20, 21, 23) 0%,
      rgba(20, 21, 23, 0.7) 26%,
      rgba(20, 21, 23, 0.45) 60%,
      rgba(20, 21, 23, 0.2) 90%,
      rgba(20, 21, 23, 0) 100%
   );
}

.background-container {
   height: 89vh;
}

.background-images {
   overflow: hidden;
}

.content-wrap {
   z-index: 1;
   position: absolute;
}

.content-logo {
   width: 190px;
   border-radius: 15px;
}

.content-title {
   padding: 5vw;
}

.content-title-welcome {
   color: whitesmoke;
   font-size: 5em;
   font-weight: 700;
   line-height: 1;
   margin: 10px 0 0 0;
   padding: 0;
}

.content-description {
   color: whitesmoke;
   font-size: 4em;
   font-weight: 600;
   margin: 0;
   padding: 0;
}
.movie-search-bar {
   margin: 0 auto;
   max-width: 1000px;
   padding-top: 50px;
}

.small-logo {
   width: 150px;
   border-radius: 10px;
}
