.ant-modal-content {
   background: #f0f2f5;
}

.ant-modal-header {
   background: whitesmoke;
}

.modal-content-wrapper {
   padding: 2.5rem 0 0 4rem;
}

.modal-image-box {
   margin: 2rem 0 0 0;
   position: absolute;
   height: 446px;

   left: 49.37rem;
}

.modal-image {
   height: 100%;
   border-radius: 0.3rem;
}

.modal-header-title {
   font-size: 2.7rem;
}

.modal-header-titleEng_year {
   margin-left: 5px;
   font-size: 1rem;
}

.modal-rating-list {
   list-style: 'none';
   display: block;
   padding: 0.5rem 0 0 0.5rem;
}

.modal-user-rating {
   display: inline-block;
   padding: 0 15px 0 0;
   font-size: 20px;
}

.modal-my-rating {
   display: inline-block;
   padding: 0 15px 0 0;
   font-size: 20px;
}

.modal-plot {
   overflow: hidden;
   margin: 1rem 0 0 0;
   width: 40rem;
   height: 11rem;
}

.modal-genre {
   padding: 0 0.7rem 0 0.1rem;
}

.modal-director {
   padding: 0 0.7rem 0 0.1rem;
}

.modal-actors {
   padding: 0 0.7rem 0 0.1rem;
}

.tag-wrap {
   margin: 0 0 0 0.5rem;
}
