.ant-modal-content {
   background: #f0f2f5;
}

.ant-modal-header {
   background: whitesmoke;
}

.ant-modal-body {
   padding: 30px;
}

.image-box img {
   margin: 30px 0 30px 69%;
   border-radius: 10px;
   width: 320px;
   height: 450px;
}

.modal-container {
   position: absolute;
   top: 80px;
   bottom: 140px;
   left: 70px;
}

.modal-header-title {
   font-size: 45px;
}

.modal-header-titleEng_year {
   margin-left: 5px;
   font-size: 15px;
}

.modal-rating-list {
   list-style: 'none';
   display: block;
   padding: 5px 0 0 5px;
}

.modal-user-rating {
   display: inline-block;
   padding: 0 15px 0 0;
   font-size: 20px;
}

.modal-my-rating {
   display: inline-block;
   padding: 0 15px 0 0;
   font-size: 20px;
}

.border-bottom-line {
   color: 'darkgray';
   border: 1px solid #f0f0f0;
   border-radius: 2px 2px 0 0;
}

.modal-summary {
   list-style: 'none';
   display: block;
   padding: 6px 0 10px 20px;
}

.modal-plot {
   width: 610px;
   margin-bottom: 30px;
}

.modal-director {
   padding: 0 10px 0 10px;
}

.modal-actors {
   padding: 0 10px 0 10px;
}

.like-out {
   border: none;
}

.dislike-out {
   border: none;
}

.like-out:hover {
   color: rgb(106, 106, 230);
}

.dislike-out:hover {
   color: rgb(106, 106, 230);
}

.like-fill {
   border: none;
   color: blue;
}

.dislike-fill {
   border: none;
   color: blue;
}

/* .trailer-btn {
   background: blue;
} */

.trailer-close {
   position: absolute;
   left: 1300px;
}
