.ant-modal-header {
   background: whitesmoke;
}

.modal-content-wrapper {
   padding: 2.5rem 0 0 4rem;
}

.ant-modal-content {
   position: relative;
   height: 600px;
}

.modal-img-left-shadow {
   z-index: 1;
   position: absolute;

   width: 10%;
   height: 100%;

   /* height: 33.66rem; */
   background-image: linear-gradient(
      to right,
      rgb(255, 255, 255) 7%,
      rgba(255, 255, 255, 0.1) 20%,
      rgba(255, 255, 255, 0) 100%
   );
}

.modal-img-wrap {
   position: relative;
   float: right;

   width: 23.8rem;
   height: 33.631rem;
}

.modal-image-box {
   width: 100%;
   height: 100%;
}

.modal-image {
   width: 100%;
   height: 100%;
}

.modal-title-wrap {
   margin: 0 0 0.7rem 0;
}

.modal-header-title {
   font-size: 2.7rem;
}

.modal-header-titleEng_year {
   margin-left: 5px;
   font-size: 1rem;
}

.tag-wrap {
   margin: 0 0 0 0.2rem;
}

.modal-plot {
   overflow: hidden;
   margin: 1rem 0 0 0;
   width: 40rem;
   height: 11rem;
}

.modal-genre {
   padding: 0 0.7rem 0 0.1rem;
}

.modal-director {
   padding: 0 0.7rem 0 0.1rem;
}

.modal-actors {
   padding: 0 0.7rem 0 0.1rem;
}
