.recommend-title {
   margin-top: 30px;
   padding-left: 110px;
   font-weight: bold;
   font-size: 1.2vw;
   color: whitesmoke;
}

.btn-showall-link {
   font-size: 0.9vw;
   color: rgb(213, 211, 211);
   border: none;
   background: rgb(20, 21, 23);
   float: right;
   margin-right: 8.5rem;
}

.recommend-items {
   max-width: 92.5vw;
   padding-bottom: 50px;
   padding-left: 110px;
}

.recommend-items img {
   height: 15vw;
   cursor: pointer;
}

.ant-card-cover img {
   border-radius: 5px;
}

.card-like-wrap {
   z-index: 1;
   position: absolute;
   right: 5.8%;
   top: 2%;
   background: rgba(0, 0, 0, 0.3);
   border-radius: 0.3rem;
}

.ant-card-body {
   background: rgb(20, 21, 23);
}

.ant-card-meta-title {
   color: whitesmoke;
   font-weight: 700;
}

.ant-card-meta-description {
   color: whitesmoke;
}

.like-count {
   color: #fff;
}

.like-outlied {
   color: hsla(0, 0%, 100%, 0.55);
}
.like-outlied:hover {
   color: hsla(0, 0%, 100%, 0.55);
}

.like-filled {
   color: blue;
}
.like-filled:hover {
   color: blue;
}

.like-filled:checked {
   color: #fff;
}

.noting {
   visibility: hidden;
}
