.card-container {
   position: relative;
   display: inline-block;
   margin: 0 0.5vw 1vw 0.5vw;
}

.fake-modal {
   opacity: 0;
}

.card-movie-info {
   background: rgba(0, 0, 0, 0.3);
   overflow: hidden;
   background: rgba(20, 21, 23);
}

.card-box-image {
   position: relative;
   width: 13vw;
   height: 18.5vw;
   cursor: pointer;
   overflow: hidden;
}

.card-image {
   width: 100%;
   height: 100%;
}

.card-detail {
   background: rgb(20, 21, 23);
   font-size: 0.8vw;
   font-weight: 700;
   color: rgba(233, 220, 220, 0.95);
   padding-top: 0.2rem;
}

.card-detail-title {
   font-size: 0.8vw;
   padding-left: 2px;
   padding-right: 5px;
}

.fade-box {
   position: absolute;
   transition: all 0.3s ease;
   opacity: 0;
   background-color: #eee;
}

.card-box-image:hover .fade-box {
   width: 100%;
   opacity: 1;
   cursor: pointer;
}

.btn-wrap {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.fade {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   color: whitesmoke;
   background: rgba(0, 0, 0, 0.75);
}

.card-like-wrap {
   z-index: 1;
   position: absolute;
   right: 6.3%;
   top: 4%;
   background: rgba(0, 0, 0, 0.3);
   border-radius: 0.3rem;
}

.like-count {
   color: #fff;
}

.like-outlied {
   color: hsla(0, 0%, 100%, 0.55);
}
.like-outlied:hover {
   color: hsla(0, 0%, 100%, 0.55);
}

.like-filled {
   color: blue;
}
.like-filled:hover {
   color: blue;
}

.like-filled:checked {
   color: #fff;
}

.noting {
   visibility: hidden;
}

.btn-detail-movie {
   width: 130px;
   font-size: 14px;
   font-weight: 700;
   color: whitesmoke;
   margin-bottom: 8px;
   border: 2px solid whitesmoke;
   border-radius: 5px;
}

.btn-trailer-movie {
   width: 130px;
   font-size: 14px;
   font-weight: 700;
   color: whitesmoke;
   border: 2px solid whitesmoke;
   border-radius: 5px;
}

@media screen and (max-width: 1200px) {
   .card-box-image {
      width: 27.3vw;
      height: 41vw;
   }
   .card-detail-title {
      padding-bottom: 10px;
      font-size: 1.4vw;
   }
}

@media screen and (max-width: 800px) {
   .card-detail-title {
      font-size: 2.4vw;
   }
   .card-box-image {
      width: 41.5vw;
      height: 60vw;
   }
}
/*
@media screen and (max-width: 1300px) {
   .card-box-image {
      width: 20.8vw;
      height: 29.8vw;
   }
}

@media screen and (max-width: 950px) {
   .card-box-image {
      width: 28.1vw;
      height: 37.1vw;
   }
}

@media screen and (max-width: 600px) {
   .card-box-image {
      width: 42.7vw;
      height: 60vw;
   }
} */

/* @media screen and (max-width: 1330px) {
   .card-image {
      width: 8rem;
   }

   .btn-detail-movie {
      width: 105px;
      font-size: 14px;
   }

   .btn-trailer-movie {
      width: 105px;
      font-size: 14px;
   }
} */
