.recommend-title {
   margin: auto;
   max-width: 76vw;
   padding: 10px;
   font-weight: bold;
}

.recommend-items {
   margin: auto;
   max-width: 75vw;
   padding-bottom: 30px;
   border-bottom: 1px solid #f0f0f0;
}

.card-container {
   position: relative;
}

.card-like-wrap {
   z-index: 1;
   position: absolute;
   right: 5.8%;
   top: 2%;
   background: rgba(0, 0, 0, 0.3);
   border-radius: 0.3rem;
}

.like-count {
   color: #fff;
}

.like-outlied {
   color: hsla(0, 0%, 100%, 0.55);
}
.like-outlied:hover {
   color: hsla(0, 0%, 100%, 0.55);
}

.like-filled {
   color: blue;
}
.like-filled:hover {
   color: blue;
}

.like-filled:checked {
   color: #fff;
}

.card-movie-info {
   width: 10.5vw;
   border-radius: 7px;

   overflow: hidden;
}

.recommend-items img {
   height: 15vw;
   cursor: pointer;
}

.noting {
   visibility: hidden;
}

.title {
   color: black;
   font-size: 17px;
}

.box-shadow-right {
   background: white;
   position: absolute;
   width: 3.5vw;
   height: 19vw;
   left: 71vw;
   bottom: 45px;
   box-shadow: 0 0 20px 20px white;
}
