.rand-recommend-wrap {
   margin: 3rem 0 3rem 0;
}

.rand-recommend-title {
   margin-top: 30px;
   padding-left: 110px;
   font-weight: bold;
   font-size: 1.2vw;
   color: whitesmoke;
   margin-bottom: 0;
}

.movie-poster-list img {
   width: 11vw;
   height: 16vw;
   border-radius: 1.15vw;
   padding: 15px;
   cursor: pointer;
}

.movie-poster-list img:hover {
   transform: scale(1.1);
   transition: 250ms all;
}
