.movie-poster-list {
   margin-top: 1vw;
}

.movie-poster-list img {
   width: 13vw;
   height: 20vw;

   border-radius: 2vw;
   padding: 15px;
   cursor: pointer;
}

.movie-poster-list img:hover {
   padding-top: 1.1vw;
   transform: scale(1.1);
   transition: 250ms all;
}

.slick-slide.slick-center img {
   border-radius: 1.5vw;
   height: 21vw;
   padding: 0px;
   transform: scale(1);
}
