.containerSlide {
   margin-top: 1vw;
}

.containerSlide img {
   width: 18.3vw;
   height: 30vw;
   border: 1px solid whitesmoke;
   border-radius: 2vw;
   padding: 15px;
}

.slick-slide.slick-center img {
   border-radius: 1.5vw;
   height: 31vw;
   padding: 0px;
}
