.ant-modal {
   width: 10px;
}

.ant-modal-header {
   background: rgb(20, 21, 23);
   border: none;
}

.ant-modal-close-x {
   width: 30px;
   height: 30px;
   line-height: 30px;
   color: whitesmoke;
   background: rgba(0, 0, 0, 0.75);
   margin: 5px;
   border-radius: 5rem;
}

.ant-modal-body {
   padding: 0;
}

.ant-modal-content {
   background: rgb(20, 21, 23);
}

.modal-logo {
   width: 150px;
   border-radius: 15px;
   margin-top: 4rem;
   margin-left: 3.7rem;
}

.modal-content-wrapper {
   padding: 0.5rem 0 0 4rem;
}

.ant-modal-content {
   position: relative;
   height: 600px;
}

.modal-img-left-shadow {
   z-index: 1;
   position: absolute;

   width: 10%;
   height: 100%;

   /* height: 33.66rem; */
   background-image: linear-gradient(
      to right,
      rgb(20, 21, 23) 7%,
      rgba(20, 21, 23, 0.1) 20%,
      rgba(20, 21, 23, 0) 100%
   );
}

.modal-img-wrap {
   position: relative;
   float: right;

   width: 23.8rem;
   height: 37.41rem;
}

.modal-image-box {
   width: 100%;
   height: 100%;
}

.modal-image {
   width: 100%;
   height: 100%;
}

.modal-title-wrap {
   margin: 0 0 0.7rem 0;
}

.modal-header-title {
   font-size: 2.7rem;
   color: whitesmoke;
}

.modal-header-titleEng_year {
   margin-left: 5px;
   font-size: 1rem;
   color: whitesmoke;
}

.tag-wrap {
   margin: 0 0 0 0.2rem;
}

.modal-plot {
   color: rgba(255, 255, 255, 0.8);
   overflow: hidden;
   margin: 1rem 0 0 0;
   width: 40rem;
   height: 11rem;
}

.modal-credit-info {
   color: whitesmoke;
}

.modal-credit-text {
   color: whitesmoke;
   padding: 0 0.7rem 0 0.1rem;
}
