.recommendation-wrap {
   padding-top: 1.5vw;
   margin: auto;
   max-width: 95vw;
}

.recommendation-list-title {
   margin-left: 0.5vw;
   margin-bottom: 0.5vw;
   font-weight: bold;
   font-size: 1.4vw;
   color: whitesmoke;
}

.btn-showall-link {
   position: absolute;
   right: 2.5vw;
   font-size: 0.9vw;
   font-weight: 500;
   color: rgb(186, 183, 183);
   border: none;
   background: rgb(20, 21, 23);
}

.recommendation-movie-list {
   display: flex;
   flex-wrap: wrap;
   padding-bottom: 3vw;
}

@media screen and (max-width: 1400px) {
   .recommendation-wrap {
      padding-top: 2.5vw;
      max-width: 90vw;
   }
   .recommendation-list-title {
      font-size: 2.3vw;
   }
   .btn-showall-link {
      font-size: 1.4vw;
      right: 4vw;
   }
}

@media screen and (max-width: 900px) {
   .recommendation-wrap {
      padding-top: 2.5vw;
      max-width: 85vw;
   }
   .recommendation-list-title {
      font-size: 3vw;
      margin-bottom: 1.5vw;
   }
   .btn-showall-link {
      font-size: 2.6vw;
      position: absolute;
      right: 6vw;
      padding-bottom: 4vw;
   }
}
