.background-left-shadow {
   z-index: 1;
   position: absolute;
   width: 45%;
   height: 51.5vw;
   background-image: linear-gradient(
      to right,
      rgb(20, 21, 23) 0%,
      rgba(20, 21, 23, 0.7) 26%,
      rgba(20, 21, 23, 0.45) 60%,
      rgba(20, 21, 23, 0.2) 90%,
      rgba(20, 21, 23, 0) 100%
   );
}

.main-box-background-images {
   overflow: hidden;
   height: 51.5vw;
   background-color: white;
}

.main-background-images {
   background-color: white;
   width: 100%;
   height: 51.5vw;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
}

.introduce-logo {
   width: 11.5vw;
   border-radius: 1vw;
}

.introduce {
   z-index: 1;
   position: absolute;
}

.introduce-wrap {
   padding: 8vw 0 0 5vw;
}

.introduce-title {
   color: whitesmoke;
   font-size: 4vw;
   font-weight: 700;
   line-height: 1;
   margin: 10px 0 0 0;
   padding: 0;
}

.introduce-description {
   color: whitesmoke;
   font-size: 3vw;
   font-weight: 600;
   margin: 0;
   padding: 0;
}

.small-logo {
   width: 150px;
   border-radius: 15px;
}

.movie-content {
   z-index: 1;
   position: absolute;
   padding: 14vw 0 0 4.3vw;
}

.content-title {
   color: whitesmoke;
   font-size: 3.9vw;
   font-weight: 700;
   line-height: 1;
   margin: 0.5vw 0 0 0;
   padding: 0;
}

.content-titleEng {
   color: whitesmoke;
   font-size: 1.5vw;
   font-weight: 600;
   margin: 0;
   padding: 0 0 0 0.4vw;
}

.content-list {
   padding: 0.5vw;
}

.content-rating {
   padding: 0 0.55vw 0.5vw 0;
   font-size: 1.65vw;
   color: whitesmoke;
   font-weight: 600;
}

.content-genre {
   padding: 0 0.55vw 0.5vw 0;
   font-size: 1.65vw;
   color: whitesmoke;
   font-weight: 600;
}

.content-btn {
   padding: 0.8vw 0 0 0;
}

.detail-info-btn {
   color: whitesmoke;
   padding: 0.4vw 0.8vw 2.7vw 0.8vw;
   margin: 0 0.8vw 0.8vw 0;
   font-size: 1.5vw;
   font-weight: 900;

   border-radius: 0.3rem;
}

.show-trailer-btn {
   color: whitesmoke;
   padding: 0.4vw 0.8vw 2.7vw 0.8vw;
   font-size: 1.5vw;
   font-weight: 900;
   border-radius: 0.3rem;
}

@media screen and (max-width: 1100px) {
   .detail-info-btn {
      font-size: 0.9rem;
      padding: 0.3rem 0.45rem 1.6rem 0.45rem;
   }

   .show-trailer-btn {
      font-size: 0.9rem;
      padding: 0.3rem 0.45rem 1.6rem 0.45rem;
   }
}

@media screen and (max-width: 1331px) {
   .main-box-background-images {
      margin-bottom: 1rem;
   }
}
