.movie-trailer {
   position: absolute;
   width: 100%;
   height: 45rem;
}

.ant-modal-header {
   display: none;
}

.ant-modal-close-x {
   width: 30px;
   height: 30px;
   line-height: 30px;
   color: whitesmoke;
   background: rgba(0, 0, 0, 0.75);
   margin: 5px;
   border-radius: 5rem;
}

.ant-modal-body {
   padding: 0;
}

.ant-modal-content {
   background: rgb(20, 21, 23);
}
