.lists {
   padding-top: 2rem;
   padding-bottom: 2rem;

   &-head {
      display: flex;
      justify-content: space-between;
      padding-left: 3vw;
      padding-right: 3vw;
      padding-bottom: 0.5vw;

      &-sub {
         font-weight: bold;
         font-size: 1.4vw;
         color: whitesmoke;
      }

      &-btn {
         background-color: rgb(20, 21, 23);
         color: rgb(186, 183, 183);
         font-size: 1vw;
         font-weight: 500;
         cursor: pointer;

         &:hover {
            color: gray;
         }
      }
   }

   &-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
   }
}
