.movie-list {
   padding-top: 2rem;
   padding-bottom: 2rem;
}

.movie-list-head {
   display: flex;
   justify-content: space-between;
   padding-left: 3vw;
   padding-right: 3vw;
   padding-bottom: 0.5vw;
}

.movie-list-head-sub {
   font-weight: bold;
   font-size: 1.4vw;
   color: whitesmoke;
}

.movie-list-head-btn {
   font-size: 1vw;
   font-weight: 500;
   color: rgb(186, 183, 183);
   cursor: pointer;
   background: rgb(20, 21, 23);
}

.movie-list-head-btn:hover {
   color: gray;
}

@media screen and (max-width: 1400px) {
   .recommendation-wrap {
      padding-top: 2.5vw;
      max-width: 90vw;
   }
   .recommendation-list-title {
      font-size: 2.3vw;
   }
   .btn-showall-link {
      font-size: 1.4vw;
      right: 4vw;
   }
}

@media screen and (max-width: 900px) {
   .recommendation-wrap {
      padding-top: 2.5vw;
      max-width: 85vw;
   }
   .recommendation-list-title {
      font-size: 3vw;
      margin-bottom: 1.5vw;
   }
   .btn-showall-link {
      font-size: 2.6vw;
      position: absolute;
      right: 6vw;
      padding-bottom: 4vw;
   }
}
