.movie {
   position: relative;
   display: flex;
   align-items: center;
   top: 10rem;
}

.movie-contents {
   padding-left: 4rem;
   padding-right: 4rem;
}

.img-shadow {
   position: absolute;
   width: 45%;
   height: 100%;
   background-image: linear-gradient(
      to right,
      rgb(20, 21, 23) 3%,
      rgba(20, 21, 23, 0.7) 26%,
      rgba(20, 21, 23, 0.45) 50%,
      rgba(20, 21, 23, 0.2) 80%,
      rgba(20, 21, 23, 0) 100%
   );
   color: rgb(0, 0, 0);
}

.item-tag-wrap {
   position: relative;
   padding-top: 1rem;
   padding-bottom: 1.5rem;
}

.tag-text {
   font-size: 0.63vw;
}

.movie-img-box {
   /* position: absolute;
   width: 61.5vw;
   left: 38vw; */
}

.movie-img {
   width: 100%;
}

.movie-info {
   background: rgb(20, 21, 23);
}

.movie-headers {
}

.movie-title {
   position: relative;
   z-index: 1;
   color: darkgray;
}

.movie-title-sub {
   font-size: 3vw;
   font-weight: bold;
   color: whitesmoke;
}

.movie-title-eng {
   font-size: 0.85vw;
   font-weight: bold;
}

.movie-rating-list {
   list-style: none;
   display: block;
}

.movie-user-rating {
   padding-right: 0.7vw;
   display: inline-block;
   font-size: 1.2vw;
}

.movie-my-rating {
   display: inline-block;
   font-size: 1.2vw;
}

.movie-summary {
   list-style: none;
   display: block;
   text-align: left;
   font-size: 0.8vw;
}

.movie-summary-each-sub {
   display: inline-block;
}

.movie-summary-each-boundary {
   font-size: 0.6vw;
}

.movie-plot {
   width: 32vw;
   color: rgba(255, 255, 255, 0.8);
   font-size: 0.9vw;
}

.movie-btns {
}

.movie-details {
   font-size: 0.8vw;
   padding-top: 1rem;
   padding-bottom: 1.5rem;
   color: rgba(254, 249, 249, 0.6);
}

.movie-sub {
   padding-right: 0.5vw;
   color: darkgray;
}

.btn-color {
   color: whitesmoke;
}

.pushpin-btn {
   padding: 0 0 15px 0;
   border: none;
   background: none;
}

.pushpin-btn:hover {
   border: none;
   background: none;
}

.pushpin-icon {
   font-size: 1.5vw;
   color: red;
}

.pushpin-btn:focus {
   background: none;
}

@media screen and (max-width: 1280px) {
   .img-shadow {
      display: none;
   }

   .movie-img-box {
      position: relative;
      left: 0;
      width: 100%;
      height: 100%;
      margin-top: 3.5rem;
   }

   .movie-plot {
      width: 83vw;
   }

   .pushpin-btn {
      display: none;
   }

   .tag-like {
      font-size: 0.6rem;
   }
}
