.login-container {
   position: relative;
   overflow: hidden;
}

.box-background-image {
   width: 100%;
   height: 100%;
}

.background-image {
   min-width: 100%;
   min-height: 100vh;
   filter: brightness(70%);
}

.login-content {
   position: absolute;
   width: 30rem;
   top: 20%;
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
   z-index: 1;
   padding: 4rem;
   background: rgba(0, 0, 0, 0.75);
   border-radius: 10px;
}

.login-userid {
   color: white;
}

.login-password {
   color: white;
}

.login-box-text {
   font-size: 50px;
   color: whitesmoke;
   font-weight: bold;
}

.auth-btn {
   width: 100%;
   margin-top: 1rem;
}

@media screen and (max-width: 750px) {
   .login-content {
      top: 0;
      width: 100vw;
      height: 100%;
   }
   .login-wrap {
      height: 100%;
      border-radius: 0;
      background: black;
      padding: 30px 80px 30px 80px;
   }
}
