.img-shadow {
   position: absolute;
   width: 45%;
   height: 100%;
   background-image: linear-gradient(
      to right,
      rgb(20, 21, 23) 3%,
      rgba(20, 21, 23, 0.7) 26%,
      rgba(20, 21, 23, 0.45) 50%,
      rgba(20, 21, 23, 0.2) 80%,
      rgba(20, 21, 23, 0) 100%
   );
   color: rgb(0, 0, 0);
}

.item-tag-wrap {
   position: relative;
   margin-left: 0.4vw;
}

.tag-text {
   font-size: 0.63vw;
   margin-bottom: 10px;
}

.moive-content {
   background: rgb(20, 21, 23);
   padding: 3.3vw 0 20vw 0;
}

.movie-img-box {
   position: absolute;
   width: 61.5vw;
   left: 38vw;
}

.movie-img {
   width: 100%;
}

.movie-info {
   color: whitesmoke;
   background: rgb(20, 21, 23);

   padding: 0 0 0 5vw;
}

.movie-headers {
   margin-top: 2vw;
   text-align: left;
}

.movie-title-list {
   position: relative;
   z-index: 1;
   margin: 0 0 1rem;
}

.movie-title {
   font-size: 3vw;
}

.movie-titleEng_year {
   margin-left: 0.5vw;

   font-size: 0.85vw;
}

.movie-rating-list {
   list-style: none;
   display: block;
   padding-left: 0.4vw;
   padding-top: 0.3vw;
}

.movie-rating {
   padding-right: 0.3vw;
}

.movie-user-rating {
   padding-right: 0.7vw;
   display: inline-block;
   font-size: 1.2vw;
}

.movie-my-rating {
   display: inline-block;
   font-size: 1.2vw;
}

.movie-summary {
   list-style: none;
   display: block;
   text-align: left;
   padding: 0.2vw 0 0 0.5vw;
   font-size: 0.8vw;
}

.movie-summary-each-sub {
   padding: 0 0 0 0.5vw;
   display: inline-block;
}

.movie-summary-each-boundary {
   padding-left: 0.3vw;
   font-size: 0.6vw;
}

.movie-plot {
   width: 30vw;
   margin-right: 100vw;
   padding-top: 1rem;
   padding-bottom: 1vw;
   padding-left: 0.3vw;
   color: rgba(255, 255, 255, 0.8);
   font-size: 0.9vw;
   text-align: left;
}

.movie-footer {
   position: absolute;
   margin: 1rem 0 0 0;
}

.movie-director_actors {
   font-size: 0.75vw;
   padding-left: 0.4vw;
   margin: 1vw 0 0 0;
   text-align: left;
}

.movie-sub {
   padding-right: 0.5vw;
}

.btn-color {
   color: whitesmoke;
}

.ant-pagination {
   margin: 0 auto;
   max-width: 22rem;
   padding: 0 0 5vw 0;
   color: whitesmoke;
}

.ant-pagination-item {
   background: rgb(0, 0, 0);
   border-radius: 15px;
}

.ant-pagination-item:hover {
   background: blue;
}

.ant-pagination-next .ant-pagination-item-link {
   background: rgb(0, 0, 0);
   color: whitesmoke;
   border-radius: 5px;
   font-size: 13.5px;
}

.ant-pagination-prev .ant-pagination-item-link {
   background: rgb(0, 0, 0);
   color: whitesmoke;
   border-radius: 5px;
   font-size: 13.5px;
}

.ant-pagination-item-active {
   background: blue;
}

.ant-pagination-item a {
   color: whitesmoke;
}

.ant-pagination-jump-next
   .ant-pagination-item-container
   .ant-pagination-item-ellipsis {
   color: whitesmoke;
}

.ant-pagination-options {
   display: none;
}

.pushpin-btn {
   padding: 0 0 15px 0;
   border: none;
   background: none;
}

.pushpin-btn:hover {
   border: none;
   background: none;
}

.pushpin-icon {
   font-size: 1.5vw;
   color: red;
}

.pushpin-btn:focus {
   background: none;
}

@media screen and (max-width: 1280px) {
   .img-shadow {
      display: none;
   }

   .movie-img-box {
      position: relative;
      left: 0;
      width: 100%;
      height: 100%;
      margin-top: 3.5rem;
   }

   .movie-plot {
      width: 83vw;
   }

   .pushpin-btn {
      display: none;
   }

   .tag-like {
      font-size: 0.6rem;
   }
}
