.header-logo {
   width: 140px;
   border-radius: 15px;
   margin: 20px 0 0 50px;
   float: left;
   cursor: pointer;
}

.menubar-search {
   width: 400px;
   height: 40px;
   border-radius: 30px;
   padding: 15px;
   margin: 0 5px 0 10px;
   background: rgb(5, 6, 11);
   font-size: 15px;
   color: white;
}

.max-small-logo {
   width: 100px;
   border-radius: 10px;
}

.ant-drawer-header {
   background: whitesmoke;
}
