.header-logo {
   width: 140px;
   border-radius: 15px;
   cursor: pointer;
}

.dropdown-off {
   display: none;
}

.max-small-logo {
   width: 100px;
   border-radius: 10px;
}

.ant-drawer-header {
   background: whitesmoke;
}

.ant-select-item-group {
   color: blue;
}
